{% extends 'main/base.html' %}

{% block title %}
    首页
{% endblock %}

{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
{% endblock %}

{% block page_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div id="main1" style="width: 600px;height:400px;"></div>
                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <div id="main2" style="width: 600px;height:400px;"></div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        let mainChart1 = echarts.init(document.getElementById('main1'));
        let option = {
            title: {
                text: '学习语言人数统计'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: {{ language|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: {{ value|safe }}
            }]
        };
        mainChart1.setOption(option);

        let mainChart2 = echarts.init(document.getElementById('main2'));
        let option2 = {
            visualMap: {
                show: false,
                type: 'continuous',
                seriesIndex: 0,
                min: 0,
                max: 400
            },
            title: {
                left: 'center',
                text: 'Gradient along the y axis'
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                data: dateList
            },
            yAxis: {
                splitLine: {show: false}
            },
            grid: {
                bottom: '60%'
            },
            series: {
                type: 'line',
                showSymbol: false,
                data: valueList
            },
        }
    </script>
{% endblock %}